:root{
  --bg-color: #F2F3F4;
  --tx-color: darkslategrey;
}
*{  
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  /* user-select: none; */
}
body{
  color: var(--tx-color);
  background-color: var(--bg-color);
  width: 90vw;
  max-width: 450px;
  margin: auto;
  position: relative;
}
.cloudBtnDivDiv{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 15px;
}
.cloudBtnDiv{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.cloudBtnDiv button {
  border-top: 2px solid var(--tx-color);
  border-left: 2px solid var(--tx-color);
  border-right: 4px solid var(--tx-color);
  border-bottom: 4px solid var(--tx-color);
  border-radius: 5px;
  color: var(--tx-color);
  /* padding: 5px 10px; */
  width: 60px;
  text-align: center;
  font-weight: 600;
  /* background-color: lightgrey; */
  font-size: 25px;
  line-height: 1em;
  padding: 2px 5px 2px 5px;
  margin: 10px 20px 2px;
  background-color: rgba(237, 20, 61, 0);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#cloudIt .typcn-cloud-storage-outline{
  display: block;
  translate: 1.5px 0;
}  

span.underCloudBtnSpan{
  font-size: 10px;
  text-align: center;
  line-height: 1em;
  visibility: hidden;
}
span.insideCloudBtnspan{
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 1em;
}

textarea, input[type="text"]{
  color: var(--tx-color);
  /* background-color: var(--bg-color); */
  font-size: 16px;
}
textarea{
  line-height: normal;
  min-height: 1.5em;
  height: auto;
  margin: 0 5px;
  width: -webkit-fill-available;
}
/*:focus {
  outline: none;
}
:active{
  outline: none;
  box-shadow: 0 0 0 2px rgba(50,205,50,.9);
}*/

h1{
  line-height: 1.2em;
  text-align: center;
}
h2{
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
h3{
  font-size: 15px;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: .2em;
}


.listDiv{
  position: relative;
  border: 2px solid var(--tx-color);
  border-radius: 0 5px 5px 5px;
  min-height: 50px;
  width: 100%;
  padding: 5px;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
  align-items: flex-start;
}
.myCheckboxLabel{
  font-size: 28px;
  translate: 0 -8px;
}
i.unchecked{
  display: block;
}
i.checked{
  display: none;
}
.checkBought:checked ~ i.unchecked{
  display: none;
}
.checkBought:checked ~ i.checked{
  display: block;
}
details{
  width: -webkit-fill-available;
  margin: 0 10px;
}
details.prenomNom{
  margin: 5px 10px 10px;
}
details.prenomNom > summary{ 
  border-radius: 2px 15px 15px 2px;
  border: 2px solid var(--tx-color);
  width: fit-content;
  padding: 2px 8px 2px 5px;
  font-weight: 700;
}
details.prenomNom[open] > summary{ 
  border-radius: 2px 15px 0 0;
}

.ideeLi summary{
  text-align: left;
  width: -webkit-fill-available;
}
.ideeLi summary span{
  margin-left: 8px;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
}
.insideDiv{
  border: .5px solid var(--tx-color);
  margin: 0 -15px;
  padding: 0 15px 15px;
  border-radius: 3px;
  min-height: 28px;
}
.addingLi .insideDiv{
  margin: 5px -77px 0 -5px;
}
.addingLi .fa-xmark{
  margin-right: 10px;
}
.ideeDetailsDiv{
  border: 1px solid var(--tx-color);
  border-radius: 3px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  padding: 5px 8px;
}
.ideeLienP, .addingLienP{
  margin-top: 0;
}
i.fa-globe{
  margin-right: 8px;
  opacity: .7;
}
.addingLienP{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.ideeLienP a{
  color: rgba(50,205,50,.9);
}
.bought > summary > span{
  opacity: .6;
  text-decoration: line-through;
}
.bought > div{
  opacity: .5;
}
.bought > div > p > a{
  color: var(--tx-color);
  text-decoration: none;
}
.optionsI{
  opacity: 1;
}
.optionsInput:checked + .optionsI{
  opacity: .6;
}
.optionsDiv{
  display: flex;
  align-items: center;
  position: absolute;
  right: 34px;
  top: -5px;
  background-color: var(--bg-color);
  border: 1px solid var(--tx-color);
  border-radius: 3px;
}
.optionsDiv i{
  margin: 0 4px;
}
.iconBtn{
  border: none;
  background-color: inherit;
  color: var(--tx-color);
}
.iconBtn i{
  font-size: 24px;
}
.iconBtn:active{
  color: rgba(50,205,50,.9);
  /* box-shadow: 0 0 0 2px rgba(50,205,50,.9); */
}
.addBtnLi{
  justify-content: flex-end;
}
.addingName{
  margin-left: 8px;
  width: 90%;
}
#dmaj{
  position: absolute;
  bottom: 8px;
  right: 8px;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}

.displayNone{
  display: none!important;
}