:root{
  --bg-color: #F2F3F4;
  --tx-color: darkslategrey;
}
*{
  font-family: 'Nunito', sans-serif;
  user-select: none;
}
body{
  color: var(--tx-color);
  background-color: var(--bg-color);
  /* max-width: 500px; Doesn't work because all the 'position:absolute;' are not affected by the body's width*/
}

.screen{
  display: flex;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}
.divScreen{
  padding: 15px;
  margin: auto;
  border-style: solid;
  border-width: 2px 3px 3px 2px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
#logInDiv{
  width: 62%;
  z-index: 2200;
}

.topContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.allTimeDiv{
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
}
.allTimeDiv > div{
  padding: 3px;
}
.allTimeDiv h3{
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 .7em;
}
.allTimeDiv p{
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  margin: .7em 0 0;
}
.allTimeDiv label{
  font-size: 14px;
  line-height: 1em;
  display: block;
}
.allTimeDiv .stepNameInput{
  font-size: 14px;
  line-height: 1em;
  display: block;
  border: 1px solid;
  border-radius: 1px;
  text-align: center;
  padding: 0;
  width: calc((100vw - 16px - 36px - 36px) / 6); 
  /* 16px = body's margin; 36px = choiceDiv's width+margin; 36px = .allTimeDiv > div's padding */
}
.allTimeDiv select{
  border-radius: 3px;
  margin-top: 3px;
}
.colorSelect{
  font: var(--fa-font-solid);
}
.colorSelect > option{
  font: var(--fa-font-solid);
}

.stepDivClass input, .stepDivClass select{
  color: inherit;
  border-color: inherit;
  border: 1px solid;
  margin-top: 5px;
}

.positionClass input[type="text"]{
  color: blueviolet;
}
.positionClass select{
  border-color: blueviolet;
  color: blueviolet;
}
.stretchClass input[type="text"]{
  color: green;
}
.stretchClass select{
  border-color: green;
  color: green;
}
.pauseClass input[type="text"]{
  color: red;
}
.pauseClass select{
  border-color: red;
  color: red;
}
.activated{
  border: 2px solid;
  border-radius: 5px;
  font-weight: 800;
}
.activated h3, .activated p{
  font-weight: 800;
}
.done{
  opacity: .3;
}

.choiceDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 10px;
}
.choiceDiv button{
  background: none;
  border: none;
  font-weight: 900;
  font-size: 16px;
  color: var(--tx-color);
  line-height: 1em;
}
.choiceDiv button i{
  text-shadow: 
    1px 1px var(--tx-color),
    1px -1px var(--tx-color),
    1px 0px var(--tx-color),
    0px 1px var(--tx-color),
    -1px 1px var(--tx-color),
    -1px -1px var(--tx-color),
    -1px 0px var(--tx-color),
    0px -1px var(--tx-color);
}

#order{
  font-size: 24px;
  text-align: center;
  margin: 100px auto 15px;
}

#timeShowZone{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin: 0 auto 100px;
  border: 2px solid;
  background-color: transparent;
}
#timeShow{
  width: 0;
  height: 30px;
  border-radius: 2.5px;
  background-color: green;
  animation-timing-function: linear;
}
#chronoMe{
  width: 175px;
  height: 175px;
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 1px solid firebrick;
  outline: none;
  user-select: none;
  cursor: pointer;
  top: -3px;
  transform: translateY(0px);
  position: relative;
  box-shadow: inset 0 30px 30px -15px rgba(255,255,255,.1), inset 0px 0px 10px 5px rgba(255,255,255,.3), inset 0 1px 20px rgba(0,0,0,0), 0 5px 0 darkred, 0 3px 2px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.1);
  background: crimson;
  color: white;
  font-size: 36px;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  transition: 150ms all;
}

#chronoMe:focus {
  transform: translateY(3px);
  box-shadow: inset 0 16px 2px -15px rgba(0,0,0,0), inset 0 0 5px 2px rgba(255,255,255,.15), inset 0 1px 20px rgba(0,0,0,.1), 0 0 0 darkred, 0 0 0 2px rgba(255,255,255,.5), 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
}
#chronoMe:focus span{
  opacity: .3;
}
.displayNone{
  display: none;
}

