:root{
  --bg-color: #F2F3F4;
  --tx-color: darkslategrey;
}
*{  
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  /* user-select: none; */
}
body{
  color: var(--tx-color);
  background-color: var(--bg-color);
}
h2{
  text-align: center;
}

.level1{
  position: relative;
  width: fit-content;
}
.level2{
  margin-left: 15px;
}
.level3{
  margin-left: 30px;
}
.modSpan{
  position: absolute;
  top: 0;
  right: 0;
}

#addItem{
  padding: 8px 8px 0;
  border: 2px solid var(--tx-color);
  border-radius: 10px;
}
.formUl{
  list-style: none;
  padding: 0;
  width: fit-content;
  margin: auto;
}
.formUl li{
  margin: 0 0 .8em 0;
}
.formUl li label{
  margin: 0 .5em 0 0;
}