:root{
  --bg-color: rgb(244, 244, 244);
  --tx-color: rgb(34, 34, 34);
  --accent-teal: rgb(0, 140, 140);
  --accent-purple: rgb(124, 77, 255);
  --accent-softBlue: rgb(41, 121, 255);
  --accent-coral: rgb(255, 111, 97);
  --accent-30-teal: rgba(0, 140, 140, .3);
  --accent-30-purple: rgba(124, 77, 255, .3);
  --accent-30-softBlue: rgba(41, 121, 255, .3);
  --accent-30-coral: rgba(255, 111, 97, .3);
  --vw: 100vw;
  --vh: 100vh;
}
*{
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body{
  color: var(--tx-color);
  background-color: var(--bg-color);
  width: var(--vw);
  height: var(--vh);
  margin: auto;
  padding: 8px;
}

section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.landscapeMode{
  height: 100%;
  width: auto;
}
.portraitMode{
  width: 100%;
  height: auto;
}

h1{
  font-family: 'kalam', sans-serif;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0;
}
h2{
  font-family: 'nunito', sans-serif;
  font-size: 1.85em;
  margin-top: .5em;
}
.exercice{
  color: var(--accent-purple);
}
.acrostiche{
  color: var(--accent-teal);
}
.exercice > h1, .acrostiche > h1{
  font-family: 'nunito', sans-serif;
  font-size: 3.7em;
}
.exercice > h2, .acrostiche > h2{
  font-family: 'kalam', sans-serif;
  font-size: 5em;
  line-height: 1em;
  margin: 2em auto;
  text-align: center;
}
.acrostiche > p{
  font-size: 2em;
  font-weight: 600;
  border: 3px solid;
  padding: 1em 2em;
  border-radius: 25px;
  width: fit-content;
  margin: auto;
}

.wordCloud > span{
  display: none;
}
.wordCloud{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.bottomText{
  width: 100%;
  border: 1px solid var(--accent-coral);
}

#cloudBoardTotal{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.cloudBoardLine{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.cloudBoardCase{
  border: .5px solid var(--accent-purple);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wordDropdown{
  position: fixed;
  top: 8px;
  left: 8px;
}

.wordSpan{
  display: inline-block;
  text-align: center;
  position: absolute;
  width: min-content;
  max-width: 62%;
  line-height: 1.1;
  /* if with background-color */
  border-radius: 10px;
  padding: 5px;
  font-weight: 900;
}

.emojiSpan{
  font-size: 46px;
}

.top{
  top: 15px;
}
.bottom{
  bottom: 15px;
}
.left{
  left: 15px;
}
.right{
  right: 15px;
}

.tilt15{
  transform: rotate(15deg);
}
.tilt-15{
  transform: rotate(-15deg);
}
.tilt75{
  transform: rotate(7.5deg);
}
.tilt-75{
  transform: rotate(-7.5deg);
}

#fullScreenLabel{
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
  display: flex;
}
#fullScreenCB:checked + label{
  opacity: 0;
}

.invisible{
  opacity: 0;
  visibility: hidden;
}
.displayNone{
  display: none;
}