:root{
  --bg-color: rgb(244, 244, 244);
  --tx-color: rgb(34, 34, 34);
  --green-dark: rgb(15, 74, 0);
  --green-medium: rgb(23, 113, 0);
  --green-light: rgb(30, 150, 0);
  --green-dark-30: rgba(15, 74, 0, .3);
  --green-medium-30: rgba(23, 113, 0, .3);
  --green-light-30: rgba(30, 150, 0, .3);
  --purple-dark: rgb(64, 0, 63);
  --purple-medium: rgb(96, 0, 97);
  --purple-light: rgb(129, 0, 127);
  --purple-dark-30: rgba(64, 0, 63, .3);
  --purple-medium-30: rgba(96, 0, 97, .3);
  --purple-light-30: rgba(129, 0, 127, .3);
  --vw: 100vw;
  --vh: 100vh;
  --wCBT: 100%;
}
html{
  font-size: 24px;
}

*{
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body{
  color: var(--green-dark);
  background-color: var(--bg-color);
  width: var(--vw);
  height: var(--vh);
  margin: auto;
  padding: 8px 188px 18px 88px;
}

section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.titleSlide{
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.titleSlide h1{
  font-family: 'Caveat', sans-serif;
  font-size: 8rem;
  color: var(--green-medium);
}
.titleSlide h2{
  font-size: 2.5rem;
  color: var(--green-dark);
}
.landscapeMode{
  height: 100%;
  width: auto;
}
.portraitMode{
  width: 100%;
  height: auto;
}

h1{
  font-family: 'Imprima', sans-serif;
  /* font-style: italic;
  font-weight: bold; */
  font-size: 2.4rem;
  line-height: 1em;
  margin-bottom: 0;
  color: var(--green-medium);
}
h2{
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  margin-top: .5em;
  color: var(--green-light);
}
p, li, ol{
  font-size: 1rem;
  font-weight: 500;
}

.middleDiv{
  margin: 3rem auto auto;
}

.exercice{
  color: var(--green-light);
}
p.exercice{
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}
.acrostiche{
  color: var(--green-medium);
}
.exercice > h1, .acrostiche > h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
.exercice > h2, .acrostiche > h2{
  font-family: 'imprima', sans-serif;
  font-style: normal;
  font-size: 4rem;
  line-height: 1em;
  margin: 2em auto;
  text-align: center;
}
.acrostiche > h2{
  margin: 1.2em auto;
}
.acrostiche h3{
  font-family: 'imprima', sans-serif;
  font-size: 2.5rem;
  line-height: 1.3em;
  margin: 0;
  text-align: left;
}
/* .acrostiche h3::first-letter{
  color: var(--green-medium);
  font-size: 3rem;
} */

.firstLetter{
  font-family: inherit;
  color: var(--green-light);
  font-size: 3rem;
}

.acrostiche > p{
  line-height: 1em;
  margin: 0 auto auto;
}
.acrostiche > p.boxed{
  font-size: 1.3rem;
  font-weight: 500;
  border: 3px solid;
  padding: 1em 2em;
  border-radius: 25px;
  width: fit-content;
}
.exercice > p{
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1em;
  width: fit-content;
  margin: auto;
}

.wordCloud > span.toStorm{
  display: none;
}
.wordCloud{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.simpleList{
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.middleList{
  width: fit-content;
  margin: auto;
}

ul > li::marker {
  content: "→  ";
}
li.justParentLi:has(> ul)::marker {
  content: "";
}
ul.noThingyList{
  list-style-type: none;
}
li.doubleArrow::marker {
  content: "⇒  ";
}
li.noThingyList::marker {
  content: "";
}
li.doubleArrow{
  font-style: italic;
  color: var(--green-medium);
  font-size: 1.3rem;
  margin-top: 1em;
}

h2.listSetup{
  margin: 1.5em 3em 1em;
  color: var(--green-medium);
}
h2.listSetup > strong{
  font-weight: 900;
}
ol.listSetup, ul.listSetup{
  margin: 0 6em;
  gap: 1em;
}
ol.listSetup > li, ul.listSetup > li{
  padding-left: .7em;
}

.accented{
  font-style: italic;
  color: var(--green-medium);
  font-size: 1.3rem;
}

.toUnveil{
  position: relative;
  display: inline-block;
  color: var(--accent-softBlue);
  border: 2px solid var(--accent-30-softBlue);
  border-radius: 15px;
  padding: 10px 20px 10px 10px;
  margin: 0;
  line-height: 1.1em;
  font-size: 1.5em;
  font-weight: 700;
}

.toUnveil span.emojiToHide, .toUnveil span.emojiToUnveil, .toUnveil span.emojiOfWisdom {
  position: absolute;
  top: 10px;
  left: 0;
}
.toUnveil span.emojiToHide {
  display: block;
}
.toUnveil span.emojiToUnveil {
  display: none;
}
.toUnveil span.phraseToUnveil {
  display: inline-block;
  opacity: 0;
  margin-left: 35px;  
}

input[name="unveilable"]:checked + label > span.emojiToHide{
  display: none;
}
input[name="unveilable"]:checked + label > span.emojiToUnveil {
  display: block;
}
input[name="unveilable"]:checked + label > span.phraseToUnveil {
  opacity: 1;
}

span.unveilled{
  display: inline-block;
  margin-left: 35px;  
}

.bottomText{
  width: 100%;
  /* border: 1px solid var(--accent-coral); */
}

#cloudBoardTotal{
  width: var(--wCBT);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: auto;
}
.cloudBoardLine{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.cloudBoardCase{
  /* border: .5px solid var(--accent-purple); */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wordDropdown{
  position: fixed;
  top: 8px;
  left: 8px;
}

.wordSpan{
  display: inline-block;
  text-align: center;
  position: absolute;
  /* width: min-content; */
  /* max-width: 62%; */
  line-height: 1;
  /* if with background-color */
  border-radius: 10px;
  padding: 8px 10px;
  font-weight: 500;
  font-size: .8em;
  background-color:var(--green-light-30);
}

.emojiSpan{
  font-size: 4.7em;
}

.top{
  top: 15px;
}
.bottom{
  bottom: 15px;
}
.left{
  left: 15px;
}
.right{
  right: 15px;
}

.tilt15{
  transform: rotate(15deg);
}
.tilt-15{
  transform: rotate(-15deg);
}
.tilt75{
  transform: rotate(7.5deg);
}
.tilt-75{
  transform: rotate(-7.5deg);
}

.slogan{
  line-height: 1em;
  display: inline-block;
  text-align: center;
  transform: rotate(-15deg);
  margin: auto;
}

.sloganText{
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--green-medium);
}

.sloganFIRES{
  line-height: 6rem;
}

.sloganLettre{
  font-family: 'imprima', sans-serif;;
  font-size: 6rem;
  /* font-weight: ; */
  line-height: 1em;
  color: var(--green-light);
}

.sloganNo{
  font-family: inherit;
  font-size: 4rem;
  font-weight: 900;
  color: var(--green-dark);
  line-height: .7em;
}


.smallP p{
  margin: 0 .5em;
}

#fullScreenLabel{
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
  display: flex;
}
#fullScreenCB + label{
  opacity: 1;
  font-weight: 900;
}
#fullScreenCB:checked + label{
  opacity: .1;
}

.invisible{
  opacity: 0;
  visibility: hidden;
}
.displayNone{
  display: none;
}