/*  GOLDEN RATIO : 1.618 / 0.382 */
/*  Dynamic Viewport (dvh, dvw) */
/*  padding/margin-block => vertical (top and bottom, if the text is read horizontaly (normal) (opposite if verticaly like chinese)
    padding/margin-inline => horizontal (left and right, if horizontal text) */

:root {
  --ratio: 1.25;
  /* --color-xxx-rgb => rgba(var(--color-xxx-rgb), 0.X) */
  /* ...-xxff = xx% opacity on white, but full color */
  /* ...-xxa = xx% real opacity, x being the a in rgba */
  --color-gray: #6d6d6d; /* rgb(109,109,109) */
  --color-white: #ffffff; /* rgb(255, 255, 255) */
  --color-white-60a: rgba(255, 255, 255, 0.6);
  --color-white-80a: rgba(255, 255, 255, 0.8);
  --color-dark: #40003f; /* rgb(64, 0, 63) */
  --color-dark-rgb: 64, 0, 63; 
  --color-dark-50ff: #a0809f;
  --color-med: #600061; /* rgb(96, 0, 97) */
  --color-med-rgb: 96, 0, 97;
  --color-med-20ff: #dfccdf; 
  --color-med-50ff: #af7fb0;
  --color-med-75ff: #884089;
  --color-med-90ff: #701971;
  --color-light: #81007f; /* rgb(129, 0, 127) */
  --color-light-rgb: 129, 0, 127;
  --color-light-20ff: #e6cce5;
  --color-link: #1e9600;
}

[data-theme="consent"] {
  --color-dark: #0f4a00;
  --color-dark-rgb: 15, 74, 0; 
  --color-dark-50ff: #87a580;
  --color-med: #177100;
  --color-med-rgb: 23, 113, 0;
  --color-med-20ff: #d1e3cc; 
  --color-med-50ff: #8bb880;
  --color-med-75ff: #519540;
  --color-med-90ff: #2e7f19;
  --color-light: #1e9600;
  --color-light-rgb: 30, 150, 0;
  --color-light-20ff: #d2eacc;
  --color-link: #81007f;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  hyphens: auto; /* Make sure you have the lang attribute in the html tag: <html lang="fr-CA"> or <html lang="en-CA"> */
  height: 100%;
  font-size: 18px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-dark);
  line-height: 1.618em;
  overflow-wrap: break-word;
  overflow-x: hidden;
  /* opacity: 0; */
  transition: opacity 0.3s ease-in; /* Makes it fade in smoothly */
}
/* This class will be added by JS once everything has been loaded */
body.loaded {
  opacity: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/*
input:focus, 
textarea:focus, 
select:focus {
  outline: none; /* Clear the default *//*
  border-color: var(--brand-primary);
  box-shadow: 0 0 0 4px var(--brand-accent);
  background-color: #fff;
}
*/

a {
  color: var(--color-link);
  text-decoration: none;
  transition: opacity 0.2s ease;
}
a:hover {
  opacity: 0.7;
}

a.aColorInherit {
  color: inherit;
  text-decoration: underline;
  transition: opacity 0.2s ease;
}
a.aColorInherit:hover {
  opacity: 0.5;
}

:focus-visible {
  /* This applies to every clickable thing: links, buttons, inputs */
  outline: 2px solid var(--color-link);
  outline-offset: 1px;
  border-radius: 5px;
  z-index: 1000;
}

h1, .h1-style {
  font-family: 'Caveat', serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 1em;
  /* hyphens: manual; To use only if necessary and with &shy; in the html */
}

h2, .h2-style{
  font-family: 'Ruluko', sans-serif;
  font-size: 36px;
}

h3, .h3-style{
  font-family: 'Imprima', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 1.12em;
}

h5, .h5-style{
  font-size: 16px;
  font-style: italic;
}

h6, .h6-style{
  font-size: 14px;
  font-style: italic;
}

/* Style for mobile, then adjust for tablet and laptop */

/* 2. Tablet Styles (Screens wider than 768px) */
@media (min-width: 768px) {

}

/* 3. Desktop Styles (Screens wider than 1024px) */
@media (min-width: 1024px) {

}

/* every section is inheritely full wide and gets a restraining .container for the text */
.container-85 {
  /* Min: 300px (don't get smaller than this) (smallest screens are now 320px)
     Pref: 85dvw (I'd like to be exactly 85% the screen)
     Max: 1200px (don't get bigger than this)
  */
  width: clamp(300px, 85dvw, 1200px);
  margin-inline: auto;       /* Centers the container perfectly (modern replacement for margin: 0 auto) */
  /* padding-inline: 1.5rem;    The safety space! Keeps text off the screen edges on mobile, but we don't need it if we use 85dvw */
}
.container-618 {
  width: clamp(280px, 61.8dvw, 1000px);
  margin-inline: auto;
  text-align: center;
}
.container-85 h2 {
  text-align: left;
}
.container-85 p {
  text-align: justify;
}

section {
  padding-block: 8rem; /* Large vertical space makes it feel professional */
  min-height: 50vh;    /* Ensures a section never looks too "skinny" */
}
.section-entry {
  padding-block: 0 3em;
  min-height: 50vh;    /* Ensures a section never looks too "skinny" */
}
.section-entry h3 {
  color: var(--color-dark-50ff);
  margin: 0.8em 0 2em 0;
}
.section-entry p {
  font-weight: 700;
}

/* .section-white {  NO NEED FOR THAT, THAT'S INHERIT
  background-color: var(--color-white);
  color: var(--color-dark);
} */
.section-dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

/* Button: let's make them at least 50px X 50px to make them thumb comfortable */

.booking-container{
  width: clamp(300px, 90dvw, 800px);
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
}
.booking-container.fixed{
  position: fixed;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */
  z-index: 1000;
  background-color: var(--color-white);
}
/* .booking-container h2, .booking-container h3{
  text-align: center;
} */

.exit-button{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: var(--color-white);
  color: var(--color-dark);
  font-size: 36px;
  line-height: 1;
  padding: .5rem;
}
.booking-container.fixed .exit-button{
    display: table;
  }

/* phone */
@media (max-width: 600px) {
    /* full screen */
  .booking-container{
    width: 100%;
    padding-inline: 2dvw;
    padding-block: 1dvh;
  }
  .booking-container.fixed .exit-button{
    display: table;
  }
}

/* tablet */
@media (min-width: 601px) and (max-width: 1100px) {
    /* fixed centered card */
  .booking-container{
    width: clamp(400px, 90dvw, 800px);
    margin-inline: auto;
    padding-inline: 2dvw;
    padding-block: 1dvh;
  }
  .booking-container.fixed{
    border-style: solid;
    border-color: var(--color-dark);
    border-width: 1px 3px 3px 1px;
    border-radius: 15px;
  }
  .booking-container.fixed .exit-button{
    display: table;
  }
}

/* desktop */
@media (min-width: 1101px) {
    /* normal page */
    .booking-container{
    width: clamp(400px, 61.8dvw, 800px);
  }
  .booking-container.fixed{
    position: static; /* ignores inset and z-index already */
  }
  .exit-button{
    display: none;
  }
}

.title-section{
  width: 100%;
  margin-inline: auto;
}
.title-section h2{
  text-align: center;
}

.progress-section{
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 2dvh;
}
.progress-section h4{
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
.progress-section p{
  font-size: 10px;
  line-height: 1;
  text-align: center;
}
.progress-section > div{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
.progress-section > div > div{
  display: flex;
  flex-flow: row nowrap;
}
.progress-bar{
  height: .4rem;
  margin-block: auto;
  width: 100%;
  flex-grow: 1;
  background-color: var(--color-med-50ff);
}
.progress-bar-done{
  background-color: var(--color-med);
}
.progress-bar-none{
  background-color: var(--color-white);
}
.icon-set{
  position: relative;
  display: table;
  margin-inline: .35em .55em;
  margin-bottom: .35em;
  line-height: 1;
  z-index: 1;
}
.fa-clock{
  position: absolute;
  top: 40%;
  left: 24%;
  font-size: .48em;
}
.fa-circle, .fa-circle-check{
  visibility: visible;
  position: absolute;
  top: 60%;
  left: 60%;
  font-size: .75em;
  z-index: 10;
}
.icon-set.todo .fa-regular.fa-circle{
  color: var(--color-med);
}
.icon-set.todo .fa-circle-check{
  visibility: hidden;
}
.icon-set.doing .fa-solid.fa-circle{
  color: var(--color-white);
}
.icon-set.doing .fa-regular.fa-circle{
  color: var(--color-light);
}
.icon-set.doing .fa-circle-check{
  visibility: hidden;
}
.icon-set.done .fa-solid.fa-circle{
  color: var(--color-dark);
}
.icon-set.done .fa-regular.fa-circle{
  color: var(--color-med);
}
.icon-set.done .fa-circle-check{
  color: var(--color-white);
  /* border: 2px solid var(--color-med);
  border-radius: 50px; */
}

.back-section{
  /* width: 300px; */
  flex-shrink: 0;
  width: 100%;
  margin-inline: auto;
  display: flex;
  padding-bottom: 1dvh;
  position: relative;
}

.back-section::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.12),
    transparent
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
}
.back-section.can-scroll-up::after{
  opacity: 1;
}

.back-section > button{
  width: 45px;
  height: 45px;
  border-radius: 15px;
  font-size: 30px;
  line-height: 1;
  color: var(--color-dark);
  border: 1px solid;
  background-color: var(--color-white);
  flex-shrink: 0;
}
.back-section > h3{
  text-align: center;
  font-size: 24px;
  flex-grow: 1;
  margin-bottom: 0;
}
.next-section{
  flex-shrink: 0;
  width: 100%;
  margin-inline: auto;
  padding-top: 1dvh;
  position: relative;
}
.next-section::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  height: 10px;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.12),
    transparent
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
}
.next-section.can-scroll-down::before{
  opacity: 1;  
}
.next-section > button{
  display: table;
  height: 50px;
  border-radius: 15px;
  font-size: 24px;
  line-height:1;
  padding: 0 .4em 0 .7em;
  color: var(--color-white);
  background: radial-gradient(circle at 75% 50%, rgba(255, 255, 255, .25), transparent 95%), var(--color-med);
  border: 1px solid var(--color-dark);
  margin-inline-start: auto;
}
.next-section > button > i{
  margin-inline-start: 8px;
  line-height: 1;
}

.booking-duree-flex{
  display: flex;
  flex-flow: row wrap;
  gap: 5%;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  gap: 2dvh;
}
.booking-duree-flex > div{
  width: 200px;
  border: 2px solid var(--color-dark);
  border-radius: 15px;
  padding: 3.5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  text-align: center;
  gap: 1dvh;
}
.booking-duree-flex > div > button{
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, .25), transparent 95%), linear-gradient(to bottom, rgba(255, 255, 255, .05), rgba(0, 0, 0, .08)), var(--color-med);
  color: var(--color-white);
  border: 1px solid var(--color-dark);
  border-radius: 15px;
  padding: .6em;
  font-size: 20px;
}
.booking-duree-flex > div > h4{
  font-size: 20px;
}
.booking-duree-flex > div > p{
  font-size: 22px;
}

.booking-section{
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  padding-block: 2dvh;
}

.booking-date-grid{
  flex-shrink: 0;
  display: grid;
  /* height: 237px; */
  width: 100%;
  aspect-ratio: 1 / 0.79; /* calculates the height to be 79% of the width */
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 3dvh;
  grid-template-rows: [row-M-Y] .5fr [row-D] .5fr [row-0] 1fr [row-1] 1fr [row-2] 1fr [row-3] 1fr [row-4];
  grid-template-columns: [col-0] 1fr [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7];
}


.row-M-Y{
  grid-row: 1;
  grid-column: 1 / 8;
}
.row-D{
  grid-row: 2;
}
.col-0{
  grid-column: 1;
}

.booking-date-grid > button{
  border-radius: 5px;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, .25), transparent 95%), linear-gradient(to bottom, rgba(255, 255, 255, .05), rgba(0, 0, 0, .08)), var(--color-med);
  color: var(--color-white);
  border: 1px solid;
}

.today{
  outline: 2px solid var(--color-med);
  outline-offset: 0;
  border-radius: 5px;
}

.available{
  cursor: pointer;
  font-weight: 800;
}
button:disabled, .not-available{
  opacity: .5;
  cursor: default;
}

.booking-time-flex{
  display: flex;
  flex-flow: row wrap;
  gap: 5%;
  margin-inline: auto;
  width: 100%;
  /* max-height: 70dvh; */
  justify-content: space-around;
}

.booking-time-flex > label{
  color: var(--color-dark);
  border: 2px solid;
  border-radius: 15px;
  padding: .6em;
  margin-bottom: 1.6dvh;
  font-size: 16px;
  line-height: 1;
}

button[aria-pressed="true"], .booking-time-flex > label:has(input:checked){
  color: var(--color-white);
  background-color: var(--color-dark);
}

input[type="radio"][name="time"] {
  display: none;
}

.booking-form-flex{
  display: block;
}

.booking-form-flex{
  display:flex;
  flex-direction:column;
  gap:2rem;
}

.form-section{
  border:none;
  padding:0;
  margin:0;
}

.booking-form-flex legend{
  font-size:1.2rem;
  font-weight:600;
  margin-bottom:1rem;
}

.field{
  display:flex;
  flex-direction:column;
  gap:.4rem;
  margin-bottom:1.25rem;
}

.booking-form-flex label{
  font-weight:500;
}

.booking-form-flex input[type="text"],
.booking-form-flex input[type="email"],
.booking-form-flex input[type="tel"]{
  width:100%;
  padding:.85rem 1rem;
  font:inherit;
  border:1px solid var(--color-dark);
  border-radius:.6rem;
  background:white;
  transition:
    border-color .2s,
    box-shadow .2s;
}

.booking-form-flex input:focus-visible{
  outline:none;
  border-color:#4a8cff;
  box-shadow: 0 0 0 .2rem rgb(74 140 255 / .15);
}

.booking-form-flex input:user-valid{
  border-color:#2ca44f;
}

.booking-form-flex input:user-invalid{
  border-color:#d64545;
}

.choice{
  display:flex;
  align-items:flex-start;
  gap:.7rem;
  margin-bottom:.9rem;
  cursor:pointer;
  font-weight:400;
}

.choice input{
  margin-top:.15rem;
  accent-color: var(--color-light);
}

.error{
  min-height:1.2em;
  color:#d64545;
  font-size:.85rem;
}

.display-none{
  display: none;
}