<div class="coteHeartWhole">
  <p>Love:</p>
  <input type="checkbox" class="coteInput cossin" onclick="coteCheck(this)" id="coteInput1" value="1">
  <label for="coteInput1" class="coteLabel" id="coteLabel1">
    <span class="coteHeart typcn icon typcn-heart-outline"></span>
  </label>
  <input type="checkbox" class="coteInput cossin" onclick="coteCheck(this)" id="coteInput2" value="2">
  <label for="coteInput2" class="coteLabel" id="coteLabel2">
    <span class="coteHeart typcn icon typcn-heart-outline"></span>
  </label>
  <input type="checkbox" class="coteInput cossin" onclick="coteCheck(this)" id="coteInput3" value="3">
  <label for="coteInput3" class="coteLabel" id="coteLabel3">
    <span class="coteHeart typcn icon typcn-heart-outline"></span>
  </label>
  <input type="checkbox" class="coteInput cossin" onclick="coteCheck(this)" id="coteInput4" value="4">
  <label for="coteInput4" class="coteLabel" id="coteLabel4">
    <span class="coteHeart typcn icon typcn-heart-outline"></span>
  </label>
  <input type="checkbox" class="coteInput cossin" onclick="coteCheck(this)" id="coteInput5" value="5">
  <label for="coteInput5" class="coteLabel" id="coteLabel5">
    <span class="coteHeart typcn icon typcn-heart-outline"></span>
  </label>
</div>
<p>Comment:</p>
<textarea name="comment" autocomplete="off"></textarea>
<div class="coteSubDiv">
  <button>Submit</button>
  <h5 id="coteThanks"></h5>
</div>