:root{
  --bg-color: #F2F3F4;
  --tx-color: darkslategrey;
}
*{  
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body{
  color: var(--tx-color);
  background-color: var(--bg-color);
}
input, select, textarea{
  background-color: rgba(242, 243, 244, .8);
  color: darkslategrey;
}
button {
  border-color: var(--tx-color);
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  color: var(--tx-color);
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  background-color: lightgrey;
}
button.player {
  border:none;
  width: fit-content;
  color: var(--tx-color);
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--bg-color);
  line-height: 1em;
}
button.player i{
  padding: 2px;
}
button.action {
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  width: fit-content;
  color: var(--bg-color);
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--tx-color);
  display: flex;
  align-items: center;
}
button.action i{
  padding-right: 5px;
}
.cloudIt{
  margin: 0;
  font-size: 25px;
  line-height: 1em;
  padding: 2px 5px 2px 5px;
  background-color: rgba(237, 20, 61, 0);
  color: var(--tx-color);
  z-index: 10;
  position: absolute;
  top: 8px;
  right: 8px;
}
#wholeList > li+li{
  margin-top: 10px;
}
.wholeShow{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 62vw;
  max-width: 250px;
  margin: 5vh auto 10vh;
}
.wholeShowBtns{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.wholeShowBtns button + button{
  margin-left: 5%;
}
#shitShow{
  width: 100%;
  border-color: var(--tx-color);
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-radius: 5px;
  padding: 5px 10px;
  height: 62vw;
  max-height: 250px;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hidden{
  opacity: 0;
  visibility: hidden;
}
#newQuote, #modQuote{
  display: block;
  width: 100%;
  height: 100px;
}
.tagsListDrop{
  list-style-type: none;
  margin-top: 0;
}
.btnIcon{
  border: none;
  background-color: var(--bg-color);
}
button.activeBtn{
  border: 1.5px solid rgb(47, 79, 79);
  background-color: rgba(47, 79, 79, .5);
}