:root{
  --bg-color: rgb(31, 31, 31);
  /* --tx-color: rgb(236, 236, 236); */
  --tx-100-color: rgb(164, 128, 255);
  --tx-color: rgb(228,217,255);
  --tx-130-color: rgb(124, 77, 255);
  --tx-30-color: rgb(228,217,255);
  --accent-teal: #1BDCDC;
  --accent-coral: #FF8A7A;
  --accent-30-coral: rgba(255, 138, 122, .3);
  --vw: 100vw;
  --vh: 100vh;
}
*{
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body{
  color: var(--tx-color);
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: var(--vw);
  height: var(--vh);
  font-size: 20px;
  padding: 0 0 20px 0;
}

hr{
  width: 100%;
}

#askRefresh{
  position: fixed;
  top: 12px;
  left: 12px;
}
#fullScreenLabel{
  position: fixed;
  top: 12px;
  right: 12px;
  padding: 5px 10px;
  width: fit-content;
  text-align: center;
  font-weight: 600;
}

section#time{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
}
#timeNow{
  text-align: center;
  font-size: 3.3em;
}
#timeDurationShowZone{
  width: calc(100% - 15px);
  height: 30px;
  border-radius: 5px;
  margin: 10px auto;
  border: 2px solid;
  background-color: transparent;
  position: relative;
}
#interval{
  position: absolute;
  top: -20px;
  font-size: 10px;
  line-height: 1em;
  left: 0;
}
#timeDurationShow{
  width: 0;
  height: 100%;
  border-radius: 2.5px;
  background: var(--accent-coral);
  animation-timing-function: linear;
}
.rig{
  height: 35px;
  width: 2px;
  border: 1px solid var(--accent-teal);
  position: absolute;
  top: -9px;
  border-radius: 25px;
}
.timeDurationSides{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1em;
}
#timeDurationTimes{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.time-clean {
  border: none;
  background: transparent;
  font: inherit;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  color: inherit;
  text-align: center;
  /* width: 70px;  // inline-HTML */
}
.time-clean::-webkit-calendar-picker-indicator {
  display: none;
}

section#diapo{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

#diapoTitle{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

#diapoMain{
  font-size: 12px;
}

#wordDropdown, #phraseDropdown{
  display: block;
  margin: auto;
  height: 30px;
}

#wordInput, #phraseInput{
  display: block;
  margin: 20px auto;
  height: 30px;
}

section#pages{
  width: var(--vw);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

/* #allPages{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
} */
#allPages{
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-auto-flow: column;       /* 👈 columns grow horizontally */
  grid-template-rows: repeat(1, auto);
  gap: 0.5rem;          /* optional */
  width: 100%;
  
  overflow-x: auto;    /* 👈 horizontal scroll */
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  scrollbar-width: none; /* Hide scrollbar but keep scrolling Firefox */

  scroll-snap-type: x mandatory; /* Snap to slides */
}
#allPages::-webkit-scrollbar { /* Hide scrollbar but keep scrolling */
  display: none;
}


#pagesBtns{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.miniSlide{
  border: 1px solid var(--tx-color);
  /* display: flex; */
  display: inline-flex;     /* 👈 IMPORTANT */
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 3px;
}
.miniSlide{
  flex: 0 0 auto;   /* 👈 VERY important */
  width: 80px;      /* or whatever */
  scroll-snap-align: start; /* or "start" if you prefer */
}
.miniTitre{
  font-size: .6em;
  line-height: 1em;
  width: min-content;
  text-align: center;
}
.miniType{
  font-size: .8em;
  line-height: 1em;
}

input[name="miniSlides"]:checked + label{
  border: 2px solid var(--accent-coral);
  background-color: var(--accent-30-coral);
}

#phraseDropdown{
  max-width: var(--vw);
}

button{
  border-top: 2px solid var(--tx-100-color);
  border-left: 2px solid var(--tx-100-color);
  border-right: 4px solid var(--tx-100-color);
  border-bottom: 4px solid var(--tx-100-color);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  color: var(--tx-130-color);
  text-align: center;
  font-weight: 600;
  background-color: var(--tx-30-color);
}

button:disabled {
  opacity: 0.5;
  background-color: var(--bg-color);
}

button#pagePrev, button#pageNext{
  font-size: 1.3em;
}

/* Otherwise all the stuff from workshop won't show in diapoMain (unless I remove all the .invisible in all the class, in all the element...)
.invisible{
  opacity: 0;
  visibility: hidden;
} */

.displayNone{
  display: none;
}