:root{
  --bg-color: rgb(31, 31, 31);
  /* --tx-color: rgb(236, 236, 236); */
  --tx-color: rgb(164, 128, 255);
  --tx-130-color: rgb(124, 77, 255);
  --tx-30-color: rgb(228,217,255);
  --accent-teal: #1BDCDC;
  --accent-coral: #FF8A7A;
  --accent-30-coral: rgba(255, 138, 122, .3);
  --vw: 100vw;
  --vh: 100vh;
}
*{
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body{
  color: var(--tx-color);
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: var(--vw);
  /* height: var(--vh); */
  font-size: 20px;
  /* padding: 0 0 30px 0; */
}

hr{
  width: 100%;
}

section#time{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#timeNow{
  text-align: center;
  font-size: 3.3em;
}
#timeDurationShowZone{
  width: calc(100% - 15px);
  height: 30px;
  border-radius: 5px;
  margin: 10px auto;
  border: 2px solid;
  background-color: transparent;
}
#timeDurationShow{
  width: 0;
  height: 100%;
  border-radius: 2.5px;
  background: var(--accent-coral);
  animation-timing-function: linear;
}
.timeDurationSides{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1em;
}
#timeDurationTimes{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.time-clean {
  border: none;
  background: transparent;
  font: inherit;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  color: inherit;
  text-align: center;
}
.time-clean::-webkit-calendar-picker-indicator {
  display: none;
}

section#diapo{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--vh) * 38 / 100);
}

#diapoTitle{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

#wordDropdown{
  display: block;
  margin: auto;
  height: 30px;
}

#wordInput{
  display: block;
  margin: 20px auto;
  height: 30px;
}

section#pages{
  position: fixed;
  bottom: 10px;
  width: var(--vw);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

#allPages{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.miniSlide{
  border: 1px solid var(--tx-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 3px;
}
.miniTitre{
  font-size: .6em;
  line-height: 1em;
  width: min-content;
  text-align: center;
}
.miniType{
  font-size: .8em;
  line-height: 1em;
}

input[name="miniSlides"]:checked + label{
  border: 2px solid var(--accent-coral);
  background-color: var(--accent-30-coral);
}

button{
  border-top: 2px solid var(--tx-color);
  border-left: 2px solid var(--tx-color);
  border-right: 4px solid var(--tx-color);
  border-bottom: 4px solid var(--tx-color);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  color: var(--tx-130-color);
  text-align: center;
  font-weight: 600;
  background-color: var(--tx-30-color);
}

button:disabled {
  opacity: 0.5;
  background-color: var(--bg-color);
}

button#pagePrev, button#pageNext{
  font-size: 1.3em;
}

.displayNone{
  display: none;
}